@import "/src/difinitions";

.startMessageWrapper {
  form {
    > * {
      margin-top: 10px;
    }

    input, select {
      margin-left: 5px;
    }

    select {
      padding: 2px;
      border: black solid 1px;
    }

    .levelHeightWrapper {
      min-height: 20px;

      .levelWrapper {

        label {
          margin-left: 3px;
        }
      }
    }

    text-align: center;
  }
}