$border-outset-thickness: 10px;
$border-inset-thickness: 40px;
$border-font-size: 22px;
$cell-size: 64px;
$figure-size: 55px;
$dot-size: 15px;


$black-cell-color: #86735c;
$white-cell-color: white;
$selected-cell-color: #5b5bf8;
$available-dot-color: #92f882;
$crush-color: #fa3838;
